.main {
    text-align: center;
    border: dashed red;
}


#titulo-planos {
    text-align: center;
}


.planos {
    display: flex;
    flex-direction: row;
    
}


.planos > div{
    padding: 30px;
    margin: 30px;
    
}

.planos > div > button {
    background-color: #ff6a00;
    border-radius: 5px;
}