@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Academia de Karatê</h1>
    <img src="~/images/karate_icon.png"></img>
    <img src="~/images/karate_kanji_icon.png"></img>
</div>

<h3 id="titulo-planos"> Conheça os nossos planos</h3>
<div class="planos">

    <div>
        <h3>Plano Mensal</h3>
        <h4>R$ 30,00</h4>
    </div>
    <div>
        <h3>Plano Semestral</h3>
        <h4>R$ 120,00</h4>
    </div>

    <div>
        <h3>Plano Anual</h3>
        <h4>R$ 240,00</h4>
    </div>
</div>



