@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1 class="p-2"> Nosso objetivo: </h1>
    <h2 class="p-2"> Desenvolvimento do caráter por meio do treinamento físico </h2>

    <h1>Código de Ética</h1>
    <ol type="1">
        <li>Esforçar para a formação do caráter</li>
        <li>Fidelidade para o verdadeiro caminho da razão</li>
        <li>Criar o intuito do esforço</li>
        <li>Conter o espiríto de agressão</li>
        <li>Respeito acima de tudo</li>
    </ol>
</div>