@model AlunoInputModel;
@{
    ViewData["Title"] = "Matricula de aluno";
}

<h1>Matrícula de aluno</h1>

<form asp-action="Index" method="post">
    <div class="row">
        <p>Nome: </p>
        <input asp-for="Nome" name="Nome" type="text" />
        <p>E-mail: </p>
        <input asp-for="Email" name="Email" type="email" />
        <p>Telefone: </p>
        <input asp-for="Telefone" name="Telefone" type="tel"/>

        <input type="submit" value="Enviar" />
    </div>
</form>